name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.20'

      - name: Run unit tests
        run: go test ./... -v

  build:
    name: Build Docker image
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t go-app:latest .

  load-test:
    name: Load testing (k6)
    runs-on: ubuntu-latest
    needs: build

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Start app
        run: |
          docker build -t go-app .
          docker run -d \
            -e db_user=postgres \
            -e db_pass=postgres \
            -e db_name=postgres \
            -e db_host=localhost \
            -e db_port=5432 \
            -p 8080:8080 \
            go-app

      - name: Run k6 load test
        uses: grafana/k6-action@v0.3.0
        with:
          filename: k6/mixed_test.js
